.footer {
  display: none;

  @include media('<=desktop') {
    display: block;
  }
}

.footer__wrapper {
  padding: 0 25px;
}

.footer__list {
  display: flex;

  @include media('<=phone') {
    flex-direction: column;
  }
}

.footer__list__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.footer__list__item a {
  @extend %description-12;

  position: relative;
  counter-increment: custom-counter;
  width: fit-content;

  &::before {
    @extend %round-number;
  }

  &::after {
    @extend %round-circle;
  }
  position: relative;

  &:hover {
    &::before,
    &::after {
      opacity: 0;
    }
  }
}
