.studio {
  @extend %page;
}

.studio__wrapper {
  @extend %page__wrapper;

  padding-bottom: 2vmin;

  @include media('<=desktop') {
    padding-bottom: 5vmin;
  }

  @include media('<=phone') {
    padding-bottom: calc(5vmin + 50px);
  }
}

.studio__wrapper section {
  display: flex;
  flex-wrap: wrap;

  &:first-child {
    padding: 117px 0 110px;
  }

  @include media('<=phone') {
    flex-direction: column;
  }
}

.studio__left__column {
  width: 100%;
  flex: 0 0 25%;
  padding: 0 25px;
}

.studio__left__title {
  @extend %description-12;

  @include media('<=phone') {
    margin-bottom: 2em;
  }
}

.studio__right__column {
  width: 100%;
  flex: 0 0 75%;
  padding: 0 25px;

  &--grid {
    @extend %description-12;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 50px;
    padding-bottom: 5.9em;

    @include media('<=desktop') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('<=phone') {
      padding-bottom: 0;
    }
  }
}

.studio__info__text {
  @extend %description-24;

  display: flex;
  flex-direction: column;
  gap: 0.9em;
}

.studio__list__wrapper {
  max-width: 237px;
}

.studio__list__subtitle {
  min-height: 2.95em;
  max-width: 155px;
  padding-bottom: 0.5rem;
}

.studio__list__items {
  margin-right: -40px;

  @include media('<=desktop') {
    margin-bottom: 3rem;
  }

  p {
    @extend %description-12;

    min-height: 12px;
  }
}

.studio__awards__wrapper {
  max-width: 237px;
}
.studio__awards__items {
  margin-right: -40px;

  @include media('<=desktop') {
    margin-bottom: 3rem;
  }
}

.studio__colophon {
  @extend %description-12;

  padding-bottom: 8em;
}

.studio__colophon__item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 50px;
}

.studio__colophon__subtitle {
  max-width: 155px;
  padding-bottom: 0.5rem;
}

.studio__colophon__text {
  margin: 0 -300px 0 0;
}
