:root {
  --main-bg-color: #fff;
  --main-text-color: #000;
}

$main-bg-color: var(--main-bg-color);
$main-text-color: var(--main-text-color);

$font-sohnebreit-halbfett: 'SohneBreit-Halbfett';
$font-nb-akademie: 'NB Akademie Pro';

$z-indexes: ('preloader', 'navigation', 'content', 'canvas');
