*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  position: fixed;
  overflow: hidden;
  will-change: background, color;
}

body {
  @extend %cover;

  font-family: $font-nb-akademie;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: z('canvas');
}

.content {
  @extend %cover;
}

.line {
  will-change: transform, opacity, visibility;
}
