extends ../base.pug 

block variables 
  - var template = 'm13'

block content
  .m13(data-background="#262626" data-color="#ffffff")
    .m13__wrapper#wrapper
      header.m13__header
        h1!=m13.data.title.replace(/\n/g, '<br>')
        svg(data-src="m13.png" xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1011 371')
          path(fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M991.986,68.392 L991.986,27.792 L978.386,68.392 L966.986,68.392 L953.586,27.792 L953.586,68.392 L935.387,68.392 L935.387,0.793 L961.786,0.793 L972.986,38.192 L984.386,0.793 L1010.386,0.793 L1010.386,68.392 L991.986,68.392 ZM908.587,68.392 L887.388,68.392 L887.388,19.593 L867.988,19.593 L867.988,0.793 L927.787,0.793 L927.787,19.593 L908.587,19.593 L908.587,68.392 ZM813.987,179.891 C832.987,186.557 847.653,197.057 857.987,211.391 C868.320,225.724 873.487,243.057 873.487,263.390 C873.487,279.391 869.903,294.391 862.737,308.390 C855.570,322.390 845.320,334.224 831.987,343.891 C820.653,352.891 807.403,359.640 792.237,364.141 C777.070,368.641 760.820,370.890 743.487,370.890 C705.153,370.890 673.487,361.057 648.487,341.390 C623.487,321.724 608.487,294.724 603.487,260.391 L674.987,247.891 C677.653,266.890 685.070,281.974 697.237,293.141 C709.403,304.307 724.487,309.891 742.487,309.891 C760.820,309.891 775.320,305.307 785.987,296.141 C796.653,286.974 801.987,274.391 801.987,258.391 C801.987,243.057 796.487,231.391 785.487,223.390 C774.487,215.391 758.653,211.391 737.987,211.391 L703.487,211.391 L703.487,150.891 L736.987,150.891 C755.320,150.891 769.320,147.141 778.987,139.641 C788.653,132.141 793.487,121.391 793.487,107.391 C793.487,93.058 788.987,81.890 779.987,73.891 C770.987,65.891 758.653,61.890 742.987,61.890 C726.653,61.890 712.820,67.224 701.487,77.891 C690.153,88.557 682.987,103.057 679.987,121.391 L612.987,111.390 C617.987,78.390 632.487,51.724 656.487,31.391 C680.487,11.057 710.153,0.891 745.487,0.891 C781.153,0.891 809.820,10.224 831.487,28.890 C853.153,47.557 863.987,72.224 863.987,102.891 C863.987,120.224 859.403,135.974 850.237,150.141 C841.070,164.307 828.987,174.224 813.987,179.891 ZM492.984,123.391 L408.484,123.391 L408.484,68.391 L440.984,65.390 C464.317,63.724 481.234,58.224 491.734,48.890 C502.234,39.557 508.484,24.724 510.484,4.391 L566.984,4.391 L566.984,365.391 L492.984,365.391 L492.984,123.391 ZM298.488,102.391 L211.988,365.391 L155.988,365.391 L69.488,102.391 L69.488,365.391 L0.488,365.391 L0.488,6.390 L102.488,6.390 L185.488,261.891 L267.988,6.390 L368.488,6.390 L368.488,365.391 L298.488,365.391 L298.488,102.391 Z')
      section.m13__project
        each el in m13.data.body
          section.m13__project__list
            each media in el.items
                article.m13__project__item
                  figure.m13__project__media
                    img.m13__project__media__image(src=media.image.url, alt=media.image.alt)
                  h3.m13__project__title=media.title       
      include ../layouts/footer
